<div class="row">
	<div class="col-md-3" ng-repeat="server in servers" style="margin-bottom: 2%;">
		<div class="panel panel-success" ng-if="server.activeScripts.length > 0">
			<div class="panel-heading">
				<span name="name" ng-bind="server.description" class="panel-title"></span>
			</div>
			<div class="panel-body" style="text-align: right;">
				<a class="btn btn-primary" href="/server/{{ server._id }}">Update</a>
				<button type="button" class="btn btn-danger" ng-click="delete(server)">Delete</button>
			</div>
		</div>
		<div class="panel panel-danger" ng-if="server.activeScripts.length < 1">
			<div class="panel-heading">
				<span name="name" ng-bind="server.description" class="panel-title"></span>
			</div>
			<div class="panel-body" style="text-align: right;">
				<a class="btn btn-primary" href="/server/{{ server._id }}">Update</a>
				<button type="button" class="btn btn-danger" ng-click="delete(server)">Delete</button>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn btn-success" ng-click="new()" style="margin-bottom: 1%;">New Server</button>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);">
	{{alert.message}}
	<a ng-if="alert.undo" ng-click="alert.undo();alerts.splice($index, 1);" class="btn btn-warning">Undo</a>
</alert>