<div class="row">
	<div class="col-md-6" ng-repeat="server in servers" style="margin-bottom: 2%;">
		<div class="input-group">
				<label for="name" class="input-group-addon">Hostname or IP</label>
				<span name="name" ng-bind="server.hostname" class="form-control"></span>
		</div>
		<div style="text-align: right;">
			<span class="bg-warning" style="color: red; padding: 10px;" ng-if="server.activeScripts.length < 1">Inactive</span>
			<span class="bg-success" style="color: green; padding: 10px;" ng-if="server.activeScripts.length > 0">Active</span>
			<a class="btn btn-primary" href="/server/{{ server._id }}">Update</a>
			<button type="button" class="btn btn-danger" ng-click="delete(server)">Delete</button>
		</div>
	</div>
</div>
<button type="button" class="btn btn-success" ng-click="new()" style="margin-bottom: 1%;">New Server</button>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);">
	{{alert.message}}
	<a ng-if="alert.undo" ng-click="alert.undo();alerts.splice($index, 1);" class="btn btn-warning">Undo</a>
</alert>